/* Write your CSS here */
.list-item {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
.title {
  font-size: 24px;
}
.delete-button {
  border: 1px solid #ff0b37;
  background-color: white;
  color: #ff0b37;
  border-radius: 6px;
  height: 32px;
  width: 80px;
  font-size: 14px;
}
